.project-title {
  text-align: center;
  margin: 0 0 50px 0;
}

.project {}

.project-content {
  padding: 0 30px;
  text-align: left;
}

.project-illustrations {
  margin: auto;

  &__image {
    width: 100%;
  }
}